body {
    background-color: #ac0a76;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.main_buttons {
    background: #ac0a76;
    margin: 1px;
    width:  200px;
    height: 200px;
    border: 4px solid #ffffff;

    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    &:hover {
        background: #57073c;
        transform: translateY(2px);
}