body {
    margin: 0;
    padding: 20px;
    display: grid;
    justify-content: center;
    background-image: url('mazeBackGround.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.maze-workspace {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 10;
    width: 1500px;
    height: 1000px;
    grid-template-columns: 1000px 500px;
    border-radius: 0.8rem;
    gap: 20px;
    display: grid;
    justify-content: center;
    align-items: center;

}

.maze-field {
    display: grid;
}

.maze-navigation {
    display: grid;
}

.text-output {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

canvas {
    border: 10px solid black;
}

.maze_buttons {
    background: #871e14;
    width:  450px;
    height: 100px;
    border: 2px solid #000000;

    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

    &:hover {
      background: #671a13;
      transform: translateY(2px);
  }
}

.buttons-container {
    flex-direction: column;
    display: flex;
    gap: 5px;
}






.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #871e14;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #671a13;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
