body {
    margin: 0;
    padding: 20px;
    display: grid;
    justify-content: center;
    background-image: url('mazeBackGround.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.maze-workspace {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 10;
    width: 1500px;
    height: 1000px;
    grid-template-columns: 1000px 500px;
    border-radius: 0.8rem;
    gap: 20px;
    display: grid;
    justify-content: center;
    align-items: center;

}

.maze-field {
    display: grid;
}

.maze-navigation {
    display: grid;
}

canvas {
    border: 10px solid black;
}

.maze_buttons {
    background: #871e14;
    width:  100px;
    height: 100px;
    border: 2px solid #000000;
}

.buttons-container {
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.maze_buttons {
    cursor: pointer;
}

button:hover {
    background: #671a13;
    transform: translateY(2px);
}