body {
    background-color: rgb(199, 95, 14);
    margin: 0;
    display: grid;
    justify-content: center;
    overflow:  hidden;
}

canvas {
    border: 10px solid black;
}

.net-workspace{
    position: relative;
    grid-template-columns: 750px 500px;
    border-radius: 0.8rem;
    display: grid;
    justify-content: center;
    align-items: center;
}